In [2]:
import yfinance as yf
import datetime as dt
import pandas as pd

In [3]:
data_df = yf.download("^OEX", period='max', interval="1d")

data_df

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1982-08-02,54.950001,54.950001,54.950001,54.950001,54.950001,106920000
1982-08-03,54.580002,54.580002,54.580002,54.580002,54.580002,120960000
1982-08-04,53.560001,53.560001,53.560001,53.560001,53.560001,106880000
1982-08-05,53.029999,53.029999,53.029999,53.029999,53.029999,109400000
1982-08-06,52.270000,52.270000,52.270000,52.270000,52.270000,97320000
...,...,...,...,...,...,...
2021-12-20,2117.540039,2117.540039,2095.469971,2111.699951,2111.699951,3395780000
2021-12-21,2123.580078,2147.030029,2112.060059,2145.979980,2145.979980,2564370000
2021-12-22,2147.370117,2170.709961,2144.620117,2169.989990,2169.989990,2439570000
2021-12-23,2172.469971,2189.979980,2172.469971,2183.219971,2183.219971,2194630000
2021-12-27,2187.189941,2212.679932,2187.189941,2212.570068,2212.570068,2264120000

In [9]:

data_df.reset_index()

data_df.to_csv('s_and_p_100.csv')